/* General Styles */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background-color: #121212;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #1E1E1E;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

.logo img {
    width: 110px; /* Adjust width as needed */
    height: auto;
}

.logo-image {
    max-width: 100%;
    height: auto;
    display: block;
}


nav ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

nav ul li a {
    color: #BBBBBB;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
    color: #FFFFFF;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.search-bar {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    border: 2px solid #444;
    border-radius: 5px;
    background-color: #222;
    color: #FFF;
    outline: none;
    transition: border-color 0.3s ease;
}

.search-bar input:focus {
    border-color: #1E90FF;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

/* Grid Item Styling */
.grid-item {
    background-color: #1E1E1E;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
}

.grid-item .title-placeholder {
    width: 100%;
    padding: auto;
    background-color: #333;
    color: #FFF;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.4em;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.grid-item .info {
    padding: 10px;
    text-align: center;
}

.grid-item .info h3 {
    margin: 1px 0;
    font-size: 1em;
    color: #FFF;
}

.grid-item .info p {
    margin: 0px 0;
    font-size: 0.9em;
    color: #BBB;
}

.grid-item .download-link {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #1E90FF;
    color: #FFF;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.grid-item .download-link:hover {
    background-color: #3AA0FF;
}
