/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #00FF00; /* Green matrix color */
    background-color: #000; /* Black background */
    overflow-x: hidden; /* Hide horizontal scrollbars */
}

/* Canvas for Matrix Effect */
#matrixCanvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure the canvas is behind the content */
    opacity: 0.3; /* Set low opacity for a subtle effect */
}

.search-section button {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #00FF00;
    border-radius: 10px;
    background-color: #000;
    color: #00FF00;
    font-size: 1em;
    cursor: pointer;
}

.search-section button:hover {
    background-color: #00FF00;
    color: #000;
}

/* Search Section */
.search-section {
    padding: 2em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0); /* Transparent black */
    border-radius: 15px;
    margin: 20px;
    z-index: 2; /* Ensure search section is above the matrix effect */
    position: relative;
}



/* Category Section */
.category-section {
    text-align: center;
    margin: 20px 0;
}

.category-section button {
    padding: 10px 20px;
    margin: 5px;
    border: 2px solid #00FF00;
    border-radius: 10px;
    background-color: #000;
    color: #00FF00;
    font-size: 1em;
    cursor: pointer;
}

.category-section button:hover {
    background-color: #00FF00;
    color: #000;
}

/* Scrollable Content */
#content {
    position: relative;
    z-index: 1;
    padding-top: 20px;
}

/* Search Input */
#searchInput {
    width: 50%;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #00FF00;
    border-radius: 10px;
    margin-bottom: 20px;
    z-index: 3; /* Ensure search input is on top */
    position: relative;
    color: #00FF00;
    background-color: #000;
}

/* Results Styles */
#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    z-index: 3; /* Ensure results are on top */
    position: relative;
}

.result-card {
    background: rgba(0, 0, 0, 0.8); /* Transparent black */
    border: 1px solid #00FF00;
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 255, 0, 0.5);
    color: #00FF00;
}

.result-card h2 {
    font-size: 1.2em;
    margin: 0;
    color: #00FF00;
}

.result-card p {
    margin: 10px 0;
}

.result-card a {
    text-decoration: none;
    color: #00FF00;
    font-weight: bold;
}

.result-card a:hover {
    text-decoration: underline;
}
